h1 {
  margin-top: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
  margin-left: -20px;
}

.actions {
  margin: 30px 0;
}

.table th {
  font-weight: bold;
}

.dark>.sidenav-container>table th {
  color: whitesmoke;
}

.checkout {
  background-color: #138496;
  color: whitesmoke;
  font-size: 22px;
  height: 3rem;

}

@media only screen and (max-width: 600px) {
  .thumbnail {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .thumbnail {
    width: 40px;
    height: 40px;
  }
}
