.dropdown-toggle {
  cursor: pointer;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  transition: all 0.1s ease-in-out;
}

.navbar-toggler:hover {
  background: black;
}

.badge-info {
  background-color: #ffa45c;
  color: #0e153a;
}
